*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
}
#root{
  --primary-color: red;
  --card-background: #f3f3f3;
  --box-shadow: #191A23;
}
.row{
  display: flex;
  flex-direction: row;
}
